[Unit]
Description=JupyterHub
After=network-online.target
 
[Service]
User=root
ExecStart=/usr/local/bin/jupyterhub -f /etc/jupyterhub/config/jupyterhub_config.py
WorkingDirectory=/etc/jupyterhub
 
[Install]
WantedBy=multi-user.target
